body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 1.5rem;
    background-color: #f9f9f9;
    height: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
}

.card {
    /* background-color: #ffffff; */
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    height: 400px; /* Fixed height for consistency */
}
h2{
    justify-content: center;
    align-items: center;
    display: flex;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.card__header,
.card__content,
.card__actions {
    padding: 0.5rem;
}

.card__image {
    width: 100%;
    height: 150px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card__image img {
    width: 65%;
    height: auto;
    max-height: 100%;
}

.card__actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid #f0f0f0;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    color: #ffffff;
    background-color: gray;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: green;
}

.product-form {
    width: 30rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 96%;
    margin: 0;
}

.product__title {
    font-size: 1.1rem;
    text-align: center;
    color: #333;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.product__description {
    text-align: center;
    color: #666;
    font-size: 0.9rem;
}

.like-button, .dislike-button {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.like-button {
    color: rgba(0, 150, 136, 1);
    background-color: rgba(38, 198, 218, 0.1);
}

.like-button.green {
    color: #fff;
    background-color: green;
}

.dislike-button {
    color: rgba(198, 40, 40, 1);
    background-color: rgba(198, 40, 40, 0.1);
}

.dislike-button.red {
    color: #fff;
    background-color: red;
}

.slider-container {
    position: relative;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    z-index: 1000;
    font-size: 1.5rem;
    color: #333;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}
